{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %}

{% block content %}
<div class="container">
    <h1 class="text-center my-3 bg-primary">Log In</h1>
    <form method="post">
        {% csrf_token %}
        <div class="my-3">
            {{ form|crispy }}
        </div>
        <input type="submit" value="Log In" class="btn btn-success">
    </form>
    <p>Forgot your password? <a href="{% url 'password_reset' %}">Go here.</a></p>
</div>
{% endblock content %}