{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Change{% endblock title %}

{% block content %}
<div class="container">
    <h1 class="text-center my-3 bg-primary">Password Change</h1>
    <p>Please enter you old password to verify your identity, then enter your new desired password and once more to confirm it.</p>
    <form method="post">
        {% csrf_token %}
        <div class="my-3">
            {{ form|crispy }}
        </div>
        <input type="submit" value="Confirm" class="btn btn-success">
    </form>
</div>
{% endblock content %}