{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Reset Password{% endblock title %}

{% block content %}
<div class="container">
    <h1 class="text-center my-3 bg-primary">Enter your new Password</h1>
    <p>Please enter your new password, and enter again to confirm it.</p>
    <form method="post">
        <div class="my-3">
            {{ form|crispy }}
        </div>
        <input type="submit" value="Confirm" class="btn btn-success">
    </form>
</div>
{% endblock content %}