{% extends 'base.html' %}

{% block title %}{{ issue.title }}{% endblock title %}

{% block content %}
<div class="container">
    <div class="detail-container p-3 border rounded my-3">
        <div class="detail-header">
            <h1 class="text-center bg-primary">{{ issue.title }}</h1>
            <h4 class="text-center text-primary">{{ issue.status }}</h4>
            <h4 class="text-center">Requested by {{ issue.requester }} on {{ issue.created_on }}</h4>
            <h4 class="text-center">Assigned to {{ issue.assignee }}</h4>
        </div>
        <div class="detail-body">
            <div class="detail-summary">
                <h5 class="text-info">Summary</h5>
                <p>{{ issue.summary }}</p>
            </div>
            <hr>
            <div class="detail-description">
                <h5 class="text-info">Description</h5>
                <p>{{ issue.description }}</p>
            </div>
        </div>
    </div>
    {% if issue.requester == user %}
        <div class="detail-footer row mt-4">
            <div class="col-auto">
                <a href="{% url 'update' issue.id %}" class="btn btn-success">Update</a>
            </div>
            <div class="col-auto">
                <a href="{% url 'delete' issue.id %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    {% endif %}
</div>
{% endblock content %}