{% extends 'base.html' %}

{% block title %}List{% endblock title %}

{% block content %}
<h1>Issue List</h1>
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'list' %}">All</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'todo_list' %}">To Do</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'in_progress_list' %}">In Progress</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'done_list' %}">Done</a>
    </li>
</ul>
{% if issue_list %}
    {% for issue in issue_list %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ issue.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ issue.status }}</h6>
            <p class="card-text">{{ issue.description }}</p>
            <a href="{% url 'detail' issue.id %}" class="card-link">Detail</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    {% endfor %}
{% else %}
    <h4 class="text-center">Hmmm, looks kinda lonely out here.</h4>
{% endif %}
{% endblock content %}